/bootstrap
/doc
/etc
/node_modules
/public
/routes
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

node_modules/

var/docker/*

rebuild_dev_db.sh

composer.lock
package-lock.json
docker-compose.yml
docker-compose.template.yml

ubereats.json
ubereats0.json

README.md

